extends main.pug

block body
  p(style="text-align:center") This web app is an expansion of the exercise in the Treehouse Express Basics course
  p(style="text-align:center") Use browser Back button to return to the app.
